{
    "sourceMaps": "inline",
    "comments": true,
    "minified": false,
    "presets": ["es2015-loose", "stage-1"],
    "plugins": [
        "transform-async-to-generator",
        "syntax-flow",
        "transform-decorators-legacy",
        "transform-flow-strip-types"
    ]
}